.articleCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0px 30px;
  margin: 15px;
  text-align: left;

  .article-info {
    width: 70%;

    .article-title {
      cursor: pointer;
    }
  }

  .article-img {
    width: 25%;
    border-radius: 12px;
  }
}
