.header {
  width: 100%;
  display: flex-wrap;
  position: fixed;
  flex-direction: column;
  padding-top: 20px;
  z-index: 1;

  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .column1 {
      width: 33%;
      margin-left: 3rem;

      a {
        text-decoration: none;
      }
    }

    .column2 {
      width: 33%;
      display: flex;
      justify-content: center;
    }

    .column3 {
      width: 33%;
      display: flex;
      justify-content: flex-end;
      margin-right: 3rem;

      a {
        margin: 15px;
      }
    }
  }
}
